@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #373a40;
  line-height: 1;
  font-family: Kanit;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Kanit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #686d76;
  padding-left: .3125rem;
  padding-right: .3125rem
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,65.625rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header__container {
  background: #686d76;
  background: linear-gradient(90deg,#686d76 30%,#eee 100%);
  padding-top: .625rem;
  padding-bottom: .625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .0625rem solid #000
}
.header__photo {
  border-radius: .5rem
}
.header__name {
  color: #000
}
.header__position {
  font-style: italic
}
.footer__container {
  background: #686d76;
  background: linear-gradient(90deg,#686d76 30%,#eee 100%);
  display: flex;
  gap: 2.5rem;
  border-bottom: .0625rem solid #000;
  align-items: center;
  justify-content: space-between
}
.footer__title {
  text-align: start;
  font-weight: 500
}
.social-items {
  display: flex
}
.social-items__link {
  display: flex;
  align-items: center;
  gap: .3125rem;
  transition: all .3s
}
.about__container {
  display: flex;
  justify-content: center
}
.about__title {
  text-align: start;
  font-weight: 500
}
.about__text {
  text-align: start;
  line-height: normal
}
.skills__container {
  border: #000 .0625rem solid;
  border-radius: .5rem;
  display: flex
}
.skills__title {
  text-align: start;
  font-weight: 500
}
.skills__items {
  text-align: center
}
.skills__list {
  display: grid;
  text-align: start;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.25rem
}
.skills__item {
  cursor: default;
  transition: color .3s
}
.experience__container {
  display: flex;
  justify-content: center
}
.experience__title {
  text-align: start;
  font-weight: 500
}
.experience__companyes {
  display: flex;
  gap: 1.875rem
}
.companyes__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: .3125rem;
  box-shadow: 0 12px 16px rgba(0,0,0,.6);
  border-radius: .5rem
}
.companyes__logo {
  align-self: center
}
.companyes__time {
  color: #eee;
  font-style: italic
}
.companyes__position {
  font-weight: 500
}
.education__container {
  border-radius: .5rem;
  border: #000 .0625rem solid;
  display: flex;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  align-items: center
}
.education__title {
  text-align: start;
  font-weight: 500
}
.education__name {
  font-weight: 600
}
.education__time {
  font-size: .875rem;
  font-style: italic;
  color: #eee
}
.certificates__container {
  display: flex;
  gap: 2.5rem;
  padding-bottom: 1.875rem;
  border-bottom: .0625rem solid #000
}
.certificates__title {
  text-align: start;
  font-weight: 500
}
.certificates__list {
  display: flex;
  gap: 1.875rem
}
.certificates__item {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  padding: 1.25rem;
  -webkit-transform: translateY(-.3125rem);
  transform: translateY(-.3125rem);
  box-shadow: 0 12px 16px rgba(0,0,0,.6);
  border-radius: .5rem
}
.certificates__name {
  font-size: 1.125rem;
  font-weight: 500
}
.certificates__time {
  font-size: .875rem;
  color: #eee;
  font-style: italic
}
.certificates__image {
  width: 9.375rem;
  transition: scale .5s
}
.certificates__image:hover {
  scale: 1.7
}
@media (min-width:41.375em) {
  .skills__list {
    display: grid;
    text-align: start;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5625rem
  }
}
@media (min-width:50.75em) {
  .skills__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5625rem
  }
}
@media (min-width:67.5em) {
  .header__photo {
    width: 12.5rem
  }
  .header__name {
    font-size: 2.8125rem
  }
  .header__position {
    font-size: 1.5625rem
  }
  .footer__container {
    padding: 1.25rem
  }
  .footer__container {
    margin-bottom: 3.125rem
  }
  .footer__title {
    font-size: 1.375rem
  }
  .social-items {
    gap: 1.25rem
  }
  .social-items__link {
    font-size: .875rem
  }
  .social-items__image {
    width: 2.5rem
  }
  .about {
    padding-top: 3.125rem
  }
  .about__container {
    gap: 2.5rem
  }
  .about__container {
    margin-bottom: 3.125rem
  }
  .about__title {
    font-size: 1.375rem
  }
  .skills__container {
    gap: 2.5rem
  }
  .skills__container {
    padding: 1.25rem
  }
  .skills__container {
    margin-bottom: 3.125rem
  }
  .skills__title {
    font-size: 1.375rem
  }
  .experience__container {
    margin-bottom: 3.125rem
  }
  .experience__container {
    gap: 2.5rem
  }
  .experience__title {
    font-size: 1.375rem
  }
  .companyes__name {
    font-size: 1.25rem
  }
  .companyes__logo {
    width: 6.25rem
  }
  .companyes__time {
    font-size: .875rem
  }
  .companyes__position {
    font-size: 1rem
  }
  .education__container {
    margin-bottom: 3.125rem
  }
  .education__container {
    padding: .625rem
  }
  .education__title {
    font-size: 1.375rem
  }
  .certificates__container {
    margin-bottom: 3.125rem
  }
  .certificates__title {
    font-size: 1.375rem
  }
}
@media (min-width:67.5625em) {
  .skills__list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5625rem
  }
}
@media (max-width:20em) {
  .header__photo {
    width: 6.875rem
  }
  .header__name {
    font-size: 1.875rem
  }
  .header__position {
    font-size: 1.25rem
  }
  .footer__container {
    padding: .3125rem
  }
  .footer__container {
    margin-bottom: 1.25rem
  }
  .footer__title {
    font-size: 1.25rem
  }
  .social-items {
    gap: .625rem
  }
  .social-items__link {
    font-size: .75rem
  }
  .social-items__image {
    width: 1.25rem
  }
  .about {
    padding-top: 1.5625rem
  }
  .about__container {
    gap: 1.25rem
  }
  .about__container {
    margin-bottom: 1.5625rem
  }
  .about__title {
    font-size: 1.25rem
  }
  .skills__container {
    gap: 1.25rem
  }
  .skills__container {
    padding: .3125rem
  }
  .skills__container {
    margin-bottom: 1.5625rem
  }
  .skills__title {
    font-size: 1.25rem
  }
  .experience__container {
    margin-bottom: 1.5625rem
  }
  .experience__container {
    gap: 1.25rem
  }
  .experience__title {
    font-size: 1.25rem
  }
  .companyes__name {
    font-size: 1rem
  }
  .companyes__logo {
    width: 4.375rem
  }
  .companyes__time {
    font-size: .75rem
  }
  .companyes__position {
    font-size: .875rem
  }
  .education__container {
    margin-bottom: 1.5625rem
  }
  .education__container {
    padding: .3125rem
  }
  .education__title {
    font-size: 1.25rem
  }
  .certificates__container {
    margin-bottom: 1.5625rem
  }
  .certificates__title {
    font-size: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .companyes__item {
    gap: .4375rem
  }
}
@media (max-width:47.99875em) {
  .header__container {
    flex-direction: column;
    gap: .625rem
  }
  .experience__container {
    flex-direction: column
  }
  .companyes {
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:37.5em) {
  .social-items {
    flex-direction: column
  }
  .certificates__list {
    flex-direction: column
  }
}
@media (max-width:35.4375em) {
  .education__container {
    flex-direction: column;
    row-gap: .3125rem;
    text-align: center
  }
}
@media (max-width:28.125em) {
  .skills__container {
    flex-direction: column
  }
}
@media (min-width:20em)and (max-width:67.5em) {
  .header__photo {
    width: clamp(6.875rem ,4.5065789474rem + 11.8421052632vw ,12.5rem)
  }
  .header__name {
    font-size: clamp(1.875rem ,1.4802631579rem + 1.9736842105vw ,2.8125rem)
  }
  .header__position {
    font-size: clamp(1.25rem ,1.1184210526rem + .6578947368vw ,1.5625rem)
  }
  .footer__container {
    padding: clamp(.3125rem ,-.0822368421rem + 1.9736842105vw ,1.25rem)
  }
  .footer__container {
    margin-bottom: clamp(1.25rem ,.4605263158rem + 3.9473684211vw ,3.125rem)
  }
  .footer__title {
    font-size: clamp(1.25rem ,1.1973684211rem + .2631578947vw ,1.375rem)
  }
  .social-items {
    gap: clamp(.625rem ,.3618421053rem + 1.3157894737vw ,1.25rem)
  }
  .social-items__link {
    font-size: clamp(.75rem ,.6973684211rem + .2631578947vw ,.875rem)
  }
  .social-items__image {
    width: clamp(1.25rem ,.7236842105rem + 2.6315789474vw ,2.5rem)
  }
  .about {
    padding-top: clamp(1.5625rem ,.9046052632rem + 3.2894736842vw ,3.125rem)
  }
  .about__container {
    gap: clamp(1.25rem ,.7236842105rem + 2.6315789474vw ,2.5rem)
  }
  .about__container {
    margin-bottom: clamp(1.5625rem ,.9046052632rem + 3.2894736842vw ,3.125rem)
  }
  .about__title {
    font-size: clamp(1.25rem ,1.1973684211rem + .2631578947vw ,1.375rem)
  }
  .skills__container {
    gap: clamp(1.25rem ,.7236842105rem + 2.6315789474vw ,2.5rem)
  }
  .skills__container {
    padding: clamp(.3125rem ,-.0822368421rem + 1.9736842105vw ,1.25rem)
  }
  .skills__container {
    margin-bottom: clamp(1.5625rem ,.9046052632rem + 3.2894736842vw ,3.125rem)
  }
  .skills__title {
    font-size: clamp(1.25rem ,1.1973684211rem + .2631578947vw ,1.375rem)
  }
  .experience__container {
    margin-bottom: clamp(1.5625rem ,.9046052632rem + 3.2894736842vw ,3.125rem)
  }
  .experience__container {
    gap: clamp(1.25rem ,.7236842105rem + 2.6315789474vw ,2.5rem)
  }
  .experience__title {
    font-size: clamp(1.25rem ,1.1973684211rem + .2631578947vw ,1.375rem)
  }
  .companyes__name {
    font-size: clamp(1rem ,.8947368421rem + .5263157895vw ,1.25rem)
  }
  .companyes__logo {
    width: clamp(4.375rem ,3.5855263158rem + 3.9473684211vw ,6.25rem)
  }
  .companyes__time {
    font-size: clamp(.75rem ,.6973684211rem + .2631578947vw ,.875rem)
  }
  .companyes__position {
    font-size: clamp(.875rem ,.8223684211rem + .2631578947vw ,1rem)
  }
  .education__container {
    margin-bottom: clamp(1.5625rem ,.9046052632rem + 3.2894736842vw ,3.125rem)
  }
  .education__container {
    padding: clamp(.3125rem ,.1809210526rem + .6578947368vw ,.625rem)
  }
  .education__title {
    font-size: clamp(1.25rem ,1.1973684211rem + .2631578947vw ,1.375rem)
  }
  .certificates__container {
    margin-bottom: clamp(1.5625rem ,.9046052632rem + 3.2894736842vw ,3.125rem)
  }
  .certificates__title {
    font-size: clamp(1.25rem ,1.1973684211rem + .2631578947vw ,1.375rem)
  }
}
@media (any-hover:hover) {
  .social-items__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .skills__item:hover {
    color: #dc5f00
  }
}